<p>
  <strong>Owner:</strong>
  <%= home.owner %>
</p>

<p>
  <strong>Address:</strong>
  <%= home.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= home.sqmt %>
</p>

<p>
  <strong>Price:</strong>
  <%= home.price %>
</p>